/** GENERAL **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header nav, footer nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    display: flex;
}

header .nav-links, footer .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

header a, footer a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

header a:hover, footer a:hover {
    color: #EAACF2;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* ANNIMATION a ET bouton CHARGEMENT PAGE*/
a, .btn {
    transition: all 300ms ease;
}

/** HEADER **/
header .color {
    color: #EAACF2;
}
header .logo {
    font-size: 2rem;
}
header .logo:hover {
    cursor: default;
}

/** FOOTER **/
footer {
    height: 26vh;
    margin: 0 1rem;
}
footer p {
    text-align: center;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}


/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    height: 60vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    justify-content: center;
    align-items: center;
}

.section__pic-container img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}



/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


/** COMPETENCES **/
.skills-section {
    padding: 40px;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    height: 500px;
    border-radius: 2%;
}
.skills-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: auto;
}
.skill-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-item:hover {
    transform: scale(1.1);
}
.skill-item i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #C8D746; /* Couleur icône  #4CAF50*/
}
.skill-item p {
    font-size: 1em;
    margin: 0;
}


/** QUI SUIS-JE ? **/
.about {
    padding: 40px;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    width: 40%;
    height: 10%;
    margin: 150px auto 50px auto;
    border-radius: 2%;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about .paragraphe {
    width: 70%;
    margin: 20px auto;
    text-align: justify;
}

.about .paragraphe p {
    text-justify: auto;
    margin: 20px;
}


.fleche {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.fleche a {
    font-size: 40px;
    text-decoration: none;
    color: #333333;
}



















































